@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clock In / Out Application</h1>
    <p class="lead">This is a basic MVC application that allows you to clock in / out and manage work times. Register using button top right and login. Then Clock In / Out using tabs on top left. </p>
</div>